/*  Paleta de cores.
    #F23545;
    #F23D5E;
    #D959AC;
    #D76AD9;
    #F2F2F2


*/

:root {
    --co1: #BF656D;
    --cor2: #F23545;
    --cor3: #F23D5E;
    --cor4: #D959AC;
    --cor5: #D76AD9;
    --cor6: #F2F2F2;
    --cor7: #A7C7FF;
}

body,
ul {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecarioPrincipal {
    height: 100px;
    width: 100%;
    position: sticky;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.cabecarioPrincipal a {
    color: black;
    text-decoration: none;
}

.logo {
    width: auto;
}

#logo-principal {
    width: 200px;
    height: 100px;
    object-fit: cover;
    overflow: auto;
}

img {
    width: 80px;
    height: 80px;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#menu a {
    padding: 10px;
}


#menu a:hover {
    color: #F23545;
    transition: .90ms;
}

#menuMObile {
    display: none;
}




/* Teste das sections */

.evento {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

.evento h2 {
    color: #333;
    font-size: 24px;
}

.evento p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.evento a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.evento a:hover {
    text-decoration: underline;
}

/*  capmpo de pesquisa */


#pesquisar {
    height: auto;
    padding: 10px;
    border: 1px solid #D959AC;
    border-radius: 5px;
    box-shadow: 0 0 3px #D76AD9;
}


#pesquisar::placeholder {
    font-size: 1.3em;
    color: #007bff;
}