/*  Paleta de cores.
    #F23545;
    #F23D5E;
    #D959AC;
    #D76AD9;
    #F2F2F2


*/

:root{
    --co1 : #BF656D;
    --cor2 : #F23545;
    --cor3 : #F23D5E;
    --cor4 : #D959AC;
    --cor5 : #D76AD9;
    --cor6 : #F2F2F2;
    --cor7 : #A7C7FF; 
}

body, ul {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecarioPrincipal {
    height: 100px;
    width: 100%;
    position: sticky;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.cabecarioPrincipal a {
    color: black;
    text-decoration: none;
}

.logo {
    width: auto;
}

#logo-principal {
    width: 200px;
    height: 100px;
    object-fit: cover;
    overflow: auto;
}

img {
    width: 80px;
    height: 80px;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}
#menu a {
    padding: 10px;
}


#menu a:hover {
    color: #F23545;
}

#menuMObile {
    display: none;
}
#eventos {
    width: auto;
}
#eventos a{
    width: auto;
    min-width: .5rem;
    font-size: .8rem;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #704BBF;
    border: 2px solid #704BBF;
    padding: .4rem;
    border-radius: 25px;
}






