/*  Paleta de cores.
    #EAF205
    #F2E205
    #D4D94
    #F2F2F2
    #0D0D0D

*/

:root{
    --co1 : #BF656D
}

/* .DCLEX:-Stock-trading-on-blockchain-1-hex { color: #BF656D; }
.DCLEX:-Stock-trading-on-blockchain-2-hex { color: #B379D9; }
.DCLEX:-Stock-trading-on-blockchain-3-hex { color: #482973; }
.DCLEX:-Stock-trading-on-blockchain-4-hex { color: #704BBF; }
.DCLEX:-Stock-trading-on-blockchain-5-hex { color: #0D0D0D; } */

.cabecarioPrincipal {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.cabecarioPrincipal a {
    color: black;
    text-decoration: none;
}

.logo {
    height: auto;
    width: auto;
}

img {
    width: 80px;
    height: 80px;
}

.material-symbols-outlined {
    font-size: 2rem;
}

#eventos a {
    font-size: 1rem;
    font-weight: 700;
    color: #F2F2F2;
    background-color: #704BBF;
    border: 2px solid #704BBF;
    padding: .4rem;
    border-radius: 25px;
}

.menuOn {
    border: 1px solid;
    width: 80%;
    height: 100vh;
}

.menuOn::after {
    content: 'x';
    background-image: url(../imagens/close_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    color: #704BBF;
}

.menuOn ul {
    font-family: Arial, Helvetica, sans-serif;

}


