@media (max-width: 570px) and (min-width: 320px) { 
    #menuMObile {
        display: block;
        font-size: 1em;
        padding: 5px;
        background-color: #482973a4;
        color: white;
        border: none;
        border-radius: 3px;
    }

    #menu {
        display: none;
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
        background-color: #e45091;
    }

    #nav.open #menu {
        display: flex;
    }
}